<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{object.title}}</h1>
    <br>
    {{object.content|safe}}
    <hr>
    <h2>Comments</h2>
    {% for comment in comments %}
    <div>
        <p>{{comment.content}}</p>
        <p>on {{comment.created_at}}</p>
        <br>
    </div>
    {% endfor %}
    <hr>
    <h2 style="margin-top: 400 px;">Add a Comment</h2>
    <form method="post" action="">
        {% csrf_token %}
        <textarea name="content" rows="4" cols="50"></textarea>
        <br>
        <button type="submit">Add Comment</button>
    </form>
    <hr>
    <a href="{% url 'post_list' %}">Back to Post List</a>
    
</body>
</html>